* {
  box-sizing: border-box;
}

.board{
  display: flex;
  width: 75vh;
  height: 75vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cell {
  height: 33.3%;
  width: 33.3%;
  border: thin solid black;
  font-size: 15vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  cursor: pointer;
  background-color: lightyellow;
}
